@model EcdsApp.Models.AdminBoundaryDistrict
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="display-6 mb-0">Add District Information</h3>

                        <form asp-action="Create" class="mt-4 custom-validation" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required">Division</label>
                                <div class="col-md-10">
                                    <select id="ddlDivision" class="form-select" asp-items="ViewBag.DivisionName" required="" data-parsley-required-message="You must select at least one option.">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="DistrictGeoCode" class="col-md-2 col-form-label required"></label>
                                <div class="col-md-10">
                                    <input asp-for="DistrictGeoCode" class="form-control" required="" />
                                    <span asp-validation-for="DistrictGeoCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="DistrictName" class="col-md-2 col-form-label required"></label>
                                <div class="col-md-10">
                                    <input asp-for="DistrictName" class="form-control" required="" />
                                    <span asp-validation-for="DistrictName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="DistrictNameBangla" class="col-md-2 col-form-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="DistrictNameBangla" class="form-control" />
                                    <span asp-validation-for="DistrictNameBangla" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="SortingOrder" class="col-md-2 col-form-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="SortingOrder" class="form-control" />
                                    <span asp-validation-for="SortingOrder" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mt-4 text-right">
                                <input type="submit" value="Submit" class="btn btn-rounded btn-success w-lg" />
                                <a class="btn btn-rounded btn-info w-lg" asp-action="Index">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
