@model EcdsApp.Models.AdminBoundaryDistrict

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>AdminBoundaryDistrict</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DistrictGeoCode" />
            <div class="form-group">
                <label asp-for="DistrictName" class="control-label"></label>
                <input asp-for="DistrictName" class="form-control" />
                <span asp-validation-for="DistrictName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistrictNameBangla" class="control-label"></label>
                <input asp-for="DistrictNameBangla" class="form-control" />
                <span asp-validation-for="DistrictNameBangla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DivisionGeoCode" class="control-label"></label>
                <select asp-for="DivisionGeoCode" class="form-control" asp-items="ViewBag.DivisionGeoCode"></select>
                <span asp-validation-for="DivisionGeoCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SortingOrder" class="control-label"></label>
                <input asp-for="SortingOrder" class="form-control" />
                <span asp-validation-for="SortingOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
