@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="chat-cont">
    <div class="chat-circle"><i class='bx bxs-message-rounded-dots fs-1 mt-1 mx-2'></i></div>
</div>
<div class="chat-box overflow-auto mx-4">
    <div class="d-flex justify-content-start align-items-center my-4 mx-2">
        <div class="chat-msg chat-left">Hi</div>
    </div>
    <div class="d-flex justify-content-end align-items-center my-4 mx-2">
        <div class="chat-msg chat-right">How is everything?</div>
    </div>
    <div class="d-flex justify-content-start align-items-center my-4 mx-2">
        <div class="chat-msg chat-left">Good</div>
    </div>
    <div class="d-flex justify-content-end align-items-center my-4 mx-2">
        <div class="chat-msg chat-right">what about you?</div>
    </div>
    <div class="d-flex justify-content-start align-items-center my-4 mx-2">
        <div class="chat-msg chat-left">Me too.....</div>
    </div>
    <div class="d-flex justify-content-end align-items-center my-4 mx-2">
        <div class="chat-msg chat-right">Can we talk about our project?</div>
    </div>
</div>