ddTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using EcdsApp.Models.UserManage
@using EcdsApp.Models.ViewModels
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@{
    var user = await _userManager.GetUserAsync(User);
    var userRoleId = user?.UserRoleId;
}

<header id="page-topbar">
    <img class="logo" src="~/assets/images/logo-light.png" style="float:left">
    <div class="navbar-header">
        <div class="d-flex">

            <!-- LOGO -->
            <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <span class="title-txt d-none d-md-inline-block">
                <span class="title">Environment, Climate Change and Disaster Statistics Platform<span>(ECDS)</span></span>

            </span>
            <span class="title-txt d-inline-block d-md-none text-center">
                <span class="title title-sm m-2 ml-4">ECDS</span>
            </span>

        </div>

        <div class="d-flex">
            <div class="dropdown d-none d-lg-inline-block ms-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
                    <i class="uil-minus-path"></i>
                </button>
            </div>

            <div class="dropdown d-inline-block" style="margin-right:60px">
                @if (_signInManager.IsSignedIn(User))
                {
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="~/assets/images/user_icon.png"
                             alt="Header Avatar">
                        <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">@User.Identity?.Name</span>
                        <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#"><i class="uil uil-user-circle font-size-18 align-middle text-muted me-1"></i> <span class="align-middle">View Profile</span></a>
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new {area = ""})" method="post">
                            <button type="submit" class="dropdown-item"><i class="uil uil-sign-out-alt font-size-18 align-middle me-1 text-muted"></i> <span class="align-middle">Sign out</span></button>
                        </form>

                    </div>
                }
                else
                {
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="~/assets/images/user_icon.png"
                             alt="Header Avatar">
                        <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">User</span>
                        <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login"><i class="uil uil-sign-out-alt font-size-18 align-middle text-muted me-1"></i> <span class="align-middle">Login</span></a>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register"><i class="uil uil-sign-out-alt font-size-18 align-middle text-muted me-1"></i> <span class="align-middle">Register</span></a>
                    </div>
                }
            </div>
        </div>

    </div>
    <div class="container-fluid">

        <div class="topnav">

            <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                <div class="collapse navbar-collapse" id="topnav-menu-content">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Dashboard">
                                <i class="uil-home-alt me-2"></i> Dashboard
                            </a>
                        </li>

                        @if (_signInManager.IsSignedIn(User))
                        {
                            if (userRoleId == AppStaticBase.SystemAdministrator || userRoleId == AppStaticBase.SuperUser)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
                                        <i class="uil-apps me-2"></i>Layer<div class="arrow-down"></div>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="topnav-pages">
                                        <div class="dropdown">
                                            <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-ecommerce"
                                               role="button">
                                                Admin Boundaries <div class="arrow-down"></div>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="topnav-ecommerce">
                                                <a class="dropdown-item" asp-controller="AdminBoundaryDivisions" asp-action="Index">Division</a>
                                                <a class="dropdown-item" asp-controller="AdminBoundaryDistricts" asp-action="Index">District</a>
                                                <a class="dropdown-item" asp-controller="AdminBoundaryUpazilas" asp-action="Index">Upazila</a>
                                            </div>
                                        </div>

                                        <div class="dropdown">
                                            <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-ecommerce"
                                               role="button">
                                                Theme <div class="arrow-down"></div>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="topnav-ecommerce">
                                                <a class="dropdown-item" asp-controller="Themes" asp-action="Index">Theme</a>
                                                <a class="dropdown-item" asp-controller="SubThemes" asp-action="Index">Component</a>
                                                <a class="dropdown-item" asp-controller="MetaDataDetail" asp-action="Index">Meta Data</a>
                                                <a class="dropdown-item" asp-controller="BundleDetail" asp-action="Create">Bundle</a>
                                            </div>
                                        </div>

                                        @if (userRoleId == AppStaticBase.SystemAdministrator)
                                        {
                                            <div class="dropdown">
                                                <a class="dropdown-item dropdown-toggle arrow-none" asp-action="Index" asp-controller="ThemeLayerDetails" id="topnav-ecommerce" role="button">
                                                    Layers
                                                </a>
                                            </div>
                                        }

                                        <div class="dropdown">
                                            <a class="dropdown-item dropdown-toggle arrow-none" asp-action="Create" asp-controller="LayerLegendColors" id="topnav-ecommerce" role="button">
                                                Layer Legend Color
                                            </a>
                                        </div>

                                    </div>
                                </li>

                                @if (userRoleId == AppStaticBase.SystemAdministrator)
                                {
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
                                            <i class="uil-apps me-2"></i>Admin Panel<div class="arrow-down"></div>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="topnav-pages">
                                            <a class="dropdown-item" asp-controller="UserAccessManage" asp-action="Users">Users</a>
                                            <a class="dropdown-item" asp-controller="UserAccessManage" asp-action="Roles">User Roles</a>
                                            @*<a class="dropdown-item" asp-controller="UserAccessManage" asp-action="RoleWiseAccess">Role Access Control</a>*@

                                            <a class="dropdown-item" asp-controller="TableInfo" asp-action="Index">Table & Column</a>
                                        </div>
                                    </li>
                                }

                            }
                        }

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button">
                                <i class="uil-apps me-2"></i>Map <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-pages">
                                <a class="dropdown-item" asp-controller="Map" asp-action="BasicMap">Map View</a>
                                <a class="dropdown-item" asp-controller="Map" asp-action="MapComparison">Map Comparison</a>

                            </div>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Contact">
                                <i class=" uil-comment-alt-message me-2"></i> Contact
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="UserFeedback">
                                <i class="uil-edit me-2"></i>   User Feedback
                            </a>
                        </li>
                       
                      
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <img class="bd_logo" src="~/assets/images/bd_govt_logo.png" style="float:right">
</header>