@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ECDS :: @ViewData["Title"]</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/my-css.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>
@*data-sidebar="dark" data-topbar="colored"*@
<body data-layout="horizontal" data-topbar="colored">

    <div id="layout-wrapper">

        <partial name="_HorizontalHeaderPartial" />
        @*<partial name="_HeaderPartial" />
            <partial name="_LeftSidebarMenuPartial" />*@


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            @*<div class="page-content">*@

                @RenderBody()

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © Strengthening Environment, Climate Change and Disaster Statistics (ECDS).
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">

                                    Developed<i class="mdi mdi-at text-danger"></i>by <a href="https://cegisbd.com/" target="_blank" class="text-reset">CEGIS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            @*</div>*@
        </div>
    </div>
    <div id="busy-indicator" class="pageloading">
        <div class="pageloading-body">
            <div class="loading-indicator">
                <p>Please wait ... . . </p>
            </div>
        </div>
    </div>


    <!-- JAVASCRIPT -->
    <script src="~/assets/libs/jquery/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>

   

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>