@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ECDS :: @ViewData["Title"]</title>

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <!-- Bootstrap Css -->
    <link href="~/lib/custom-theme/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/lib/custom-theme/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/lib/custom-theme/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    @await RenderSectionAsync("Styles", required: false)
</head>

<body data-sidebar="dark">
    <div id="layout-wrapper">
        <partial name="_HeaderPartial" />
        <partial name="_LeftSidebarMenuPartial" />

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- End Page-content -->

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> © Minible.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="https://themesbrand.com/" target="_blank" class="text-reset">Themesbrand</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="~/lib/custom-theme/jquery/jquery.min.js"></script>
    <script src="~/lib/custom-theme/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/custom-theme/metismenu/metisMenu.min.js"></script>
    <script src="~/lib/custom-theme/simplebar/simplebar.min.js"></script>
    <script src="~/lib/custom-theme/node-waves/waves.min.js"></script>
    <script src="~/lib/custom-theme/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="~/lib/custom-theme/jquery.counterup/jquery.counterup.min.js"></script>

    <!-- apexcharts -->
    <script src="~/lib/custom-theme/apexcharts/apexcharts.min.js"></script>

    <script src="~/js/dashboard.init.js"></script>

    <!-- App js -->
    <script src="~/js/app.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>