@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using EcdsApp.Models.UserManage;
@inject SignInManager<UserRegistration> SignInManager


<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box align-middle">
        <a asp-controller="Home" asp-action="Dashboard" class="logo logo-dark" style="text-align: center;">
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="30">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-dark.png" alt="" width="90">
            </span>
        </a>

        <a asp-controller="Home" asp-action="Dashboard" class="logo logo-light" style="text-align: center;"> 
            <span class="logo-sm">
                <img src="~/assets/images/logo-sm.png" alt="" height="30">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-light.png" alt="" height="90">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a asp-controller="Home" asp-action="Dashboard">
                        <i class="uil-home-alt"></i><span class="badge rounded-pill bg-primary float-end">01</span>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-store"></i>
                        <span>Admin Boundaries</span>
                    </a>

                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-controller="AdminBoundaryDivisions" asp-action="Index">Division List</a></li>
                        <li><a asp-controller="AdminBoundaryDistricts" asp-action="Index">District List</a></li>
                        <li><a asp-controller="AdminBoundaryUpazilas" asp-action="Index">Upazila List</a></li>
                    </ul>

                </li>

               
                

                <li class="menu-title">Pages</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="uil-user-circle"></i>
                        <span>Authentication</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="auth-login.html">Login</a></li>
                        <li><a href="auth-register.html">Register</a></li>
                        <li><a href="auth-recoverpw.html">Recover Password</a></li>
                        <li><a href="auth-lock-screen.html">Lock Screen</a></li>
                    </ul>
                </li>
              
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->