@model EcdsApp.Models.RegionModels.AdminBoundaryUnion

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>AdminBoundaryUnion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UnionGeoCode" class="control-label"></label>
                <input asp-for="UnionGeoCode" class="form-control" />
                <span asp-validation-for="UnionGeoCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldGeoCode" class="control-label"></label>
                <input asp-for="OldGeoCode" class="form-control" />
                <span asp-validation-for="OldGeoCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnionName" class="control-label"></label>
                <input asp-for="UnionName" class="form-control" />
                <span asp-validation-for="UnionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnionNameBangla" class="control-label"></label>
                <input asp-for="UnionNameBangla" class="form-control" />
                <span asp-validation-for="UnionNameBangla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpazilaGeoCode" class="control-label"></label>
                <select asp-for="UpazilaGeoCode" class ="form-control" asp-items="ViewBag.UpazilaGeoCode"></select>
            </div>
            <div class="form-group">
                <label asp-for="MunicipalityGeoCode" class="control-label"></label>
                <input asp-for="MunicipalityGeoCode" class="form-control" />
                <span asp-validation-for="MunicipalityGeoCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MunicipalityName" class="control-label"></label>
                <input asp-for="MunicipalityName" class="form-control" />
                <span asp-validation-for="MunicipalityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SortingOrder" class="control-label"></label>
                <input asp-for="SortingOrder" class="form-control" />
                <span asp-validation-for="SortingOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

