@model EcdsApp.Models.ThemeModels.SubTheme
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="display-6 mb-0">Add Sub-Theme Information</h3>

                        <form asp-action="Create" class="mt-4 custom-validation" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required">Theme</label>
                                <div class="col-md-10">
                                    <select asp-for="ThemeId" class="form-select" asp-items="ViewBag.ThemeId" required="" data-parsley-required-message="You must select at least one option.">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="SubThemeName"></label>
                                <div class="col-md-10">
                                    <input asp-for="SubThemeName" class="form-control" required="" />
                                    <span asp-validation-for="SubThemeName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="SubThemePath"></label>
                                <div class="col-md-10">
                                    <input asp-for="SubThemePath" class="form-control" required="" />
                                    <span asp-validation-for="SubThemePath" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mt-4 text-right">
                                <input type="submit" value="Submit" class="btn btn-rounded btn-success w-lg" />
                                <a class="btn btn-rounded btn-info w-lg" asp-action="Index">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
