@model EcdsApp.Models.TabularModels.TableInfo

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<h3 class="display-6 mb-0">Edit Table Information</h3>
						<form asp-action="Edit">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<input type="hidden" asp-for="Id" />
							<div class="form-group mb-3">
								<label asp-for="SubThemeId" class="control-label"></label>
								<select asp-for="SubThemeId" class="form-control" asp-items="ViewBag.SubThemeId"></select>
								<span asp-validation-for="SubThemeId" class="text-danger"></span>
							</div>
							<div class="form-group mb-3">
								<label asp-for="BoundaryId" class="control-label"></label>
								<select asp-for="BoundaryId" class="form-control" asp-items="ViewBag.BoundaryId"></select>
								<span asp-validation-for="BoundaryId" class="text-danger"></span>
							</div>
							<div class="form-group mb-3">
								<label asp-for="TableName" class="control-label"></label>
								<input asp-for="TableName" class="form-control" />
								<span asp-validation-for="TableName" class="text-danger"></span>
							</div>
							<div class="form-group mb-3">
								<label asp-for="TableModelName" class="control-label"></label>
								<input asp-for="TableModelName" class="form-control" />
								<span asp-validation-for="TableModelName" class="text-danger"></span>
							</div>
							<div class="form-group mb-3">
								<label asp-for="DisplayName" class="control-label"></label>
								<input asp-for="DisplayName" class="form-control" />
								<span asp-validation-for="DisplayName" class="text-danger"></span>
							</div>
							<div class="mt-4 text-right">
                                <input type="submit" value="Update" class="btn btn-rounded btn-success w-lg" />
                                <a class="btn btn-rounded btn-info w-lg" asp-action="Index">Back to List</a>
                            </div>							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
				@{
					await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
				}
