@model EcdsApp.Models.AdminBoundaryDivision
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <!-- select2 css -->
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="display-6 mb-0">Add Division Information</h3>

                        <form asp-action="Create" class="mt-4 custom-validation" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="mb-3 row">
                                <label asp-for="DivisionGeoCode" class="col-md-2 col-form-label required"></label>
                                <div class="col-md-10">
                                    <input asp-for="DivisionGeoCode" class="form-control" required="" />
                                    <span asp-validation-for="DivisionGeoCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="DivisionName" class="col-md-2 col-form-label required"></label>
                                <div class="col-md-10">
                                    <input asp-for="DivisionName" class="form-control" required="" />
                                    <span asp-validation-for="DivisionName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="DivisionNameBangla" class="col-md-2 col-form-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="DivisionNameBangla" class="form-control" />
                                    <span asp-validation-for="DivisionNameBangla" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="SortingOrder" class="col-md-2 col-form-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="SortingOrder" class="form-control" />
                                    <span asp-validation-for="SortingOrder" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="mt-4 text-right">
                                <input type="submit" value="Submit" class="btn btn-rounded btn-success w-lg" />
                                <a class="btn btn-rounded btn-info w-lg" asp-action="Index">Back to List</a>
                            </div>

                        </form>

                        @*<div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Category</label>
                                    <select class="form-control select2">
                                        <option>Select</option>
                                        <option value="EL">Electronic</option>
                                        <option value="FA">Fashion</option>
                                        <option value="FI">Fitness</option>
                                    </select>
                                </div>
                            </div>*@
                        @*<div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Specifications</label>

                                <select class="select2 form-control select2-multiple" multiple="multiple" data-placeholder="Choose ...">
                                    <option value="HI">High Quality</option>
                                    <option value="LE">Leather</option>
                                    <option value="NO">Notifications</option>
                                    <option value="SI">Sizes</option>
                                    <option value="DI">Different Color</option>
                                </select>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>


@section Scripts {

    <!-- select 2 plugin -->
    <script src="~/assets/libs/select2/js/select2.min.js"></script>
  <script>
      $(".select2").select2();

  </script>
}
