@model EcdsApp.Models.AdminBoundaryDivision
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="display-6 mb-0">Edit Division Information</h3>

                        <form asp-action="Edit" class="mt-4 custom-validation" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="DivisionGeoCode" />

                            <div class="mb-3 row">
                                <label asp-for="DivisionGeoCode" class="col-md-2 col-form-label required"></label>
                                <div class="col-md-10">
                                    <input asp-for="DivisionGeoCode" class="form-control" required="" />
                                    <span asp-validation-for="DivisionGeoCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="DivisionName" class="col-md-2 col-form-label required"></label>
                                <div class="col-md-10">
                                    <input asp-for="DivisionName" class="form-control" required="" />
                                    <span asp-validation-for="DivisionName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="DivisionNameBangla" class="col-md-2 col-form-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="DivisionNameBangla" class="form-control" />
                                    <span asp-validation-for="DivisionNameBangla" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label asp-for="SortingOrder" class="col-md-2 col-form-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="SortingOrder" class="form-control" />
                                    <span asp-validation-for="SortingOrder" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mt-4 text-right">
                                <input type="submit" value="Update" class="btn btn-rounded btn-success w-lg" />
                                <a class="btn btn-rounded btn-info w-lg" asp-action="Index">Back to List</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
