@{
	ViewData["Title"] = "AboutUs";
}

@section Styles{
<style>
	.txt-justify {
		text-align: justify;
	}
	h1{
		font-family: 'Ramaraja', serif;
	}
</style>
}

<div class="page-content my-5 bg-light">
	<div class="container-fluid min-vh-75">
		<div class="row">
			<h1 class="fs-1 text-center mt-2 mb-5 fw-bolder">About ECDS Platform</h1>
			<div class="row justify-content-around">
			<!--Column One-->
			<div class="col-12 col-sm-10 col-md-6 col-lg-5">
				<h4 class="txt-justify fs-4 fw-normal">
					Bangladesh is one of the most disaster-prone countries due to climate change. It is intensified by the country's geographical position, land features, numerous crisscrossed rivers, and monsoon climate. As a result, we are incredibly vulnerable to natural disasters. Since the country is prone to harsh weather, loss and destruction are frequently large, putting the national economy at risk. Bangladesh ranked 6th on the list of countries most hit by climate disasters from 1999 to 2018 in the 2020 edition of German Watch's Climate Risk Index. This index focuses on Bangladesh's scary scenario in terms of climate impacts and natural disasters.<br /><br /> Sea level rise, storms, cyclones, droughts, erosion, landslides, flooding, salinization, and other natural disasters are already displacing a considerable number of people from the coastline and hilly areas and destroying infrastructure, human lives, and wealth. Despite all of its flaws, Bangladesh is one of the most resilient countries, and it is making gradual progress toward achieving the Sustainable Development Goals (SDGs). Numerous initiatives, research papers, surveys, and other activities are being carried out in development that requires reliable data and information for successful decision-making.
					In recent years, the government has initiated multiple projects through numerous agencies and government departments to collect, generate, and update relevant statistics, so that policymakers could benefit from the information.<br /><br /> The Bangladesh Bureau of Statistics (BBS) is an independent national body under the Government of Bangladesh (GoB) that collects and disseminates statistical data and information. The "Inter-Ministerial Technical Working Committee" produced "Environment, Climate Change, and Disaster Statistics." To that end, the "Environment, Climate Change, and Disaster Statistics (ECDS) Cell" was established. In recent years, the government has taken some initiatives through various agencies and government departments to collect, generate, and update related statistics so that policymakers can benefit from the information. Bangladesh Bureau of Statistics (BBS) is an independent national body under the Government of Bangladesh (GoB) that oversees collecting and disseminating statistical data and information.
				</h4>

			</div>
			<!--End Column One-->
			<!--Column Two-->
			<div class="col-12 col-sm-10 col-md-6 col-lg-5">
				<h4 class="fs-3 fw-bold py-2">System Objectives</h4>
				<ul class="fs-4 txt-justify">@*The establishment of ECDS is to generate statistics on the environment, natural resources, biodiversity, climate change, and disasters to institutionalize environmental statistics in Bangladesh. However, this project has established some specific objectives. The primary outcomes of this project are 'Compilation of Bangladesh Environmental Statistics 2020,' 'Bangladesh Environmental Protection, Expenditure, Resource, and Waste Management Survey 2021,' 'Natural Resource: Experimental Ecosystem Accounts/Statistics in Bangladesh 2022,' and 'Multi-sectoral GIS integration of the affected population with area, deaths, and missing population due to climate change and natural disasters.
					The specific objectives of this project are:*@
						<li class="fs-4">Empower the government, academia, and researchers to securely host, manage, share, visualize, and analyze geospatial data by establishing a well-designed sustainable geo-portal system</li>
						<li class="fs-4">Have operational experience handling and publishing various maps and data</li>
						<li class="fs-4">Cooperate government officials in project appraisal and planning process</li>
				</ul>				
				<h4 class="fs-3 fw-bold py-2">System Features</h4>				
					<ul class="fs-4 txt-justify">
						<li>Spatial data analysis in different geographic regions.</li>
						<li>Login based authorization system with dynamic user permission and access</li>
						<li>Download Map image as png/jpeg format</li>
						<li>Upload Shapefile and Data Layer information</li>
						<li>Download shapefile based on selected layers</li>
						<li>Download Admin Boundary Information in different format</li>
						<li>View Meta Data and Layer based information based on user access</li>
						<li>Administrative user Management control with grant and revoke user access privilege</li>
					</ul>
					@*•	Spatial data analysis in different geographic regions.
					•	Login based authorization system with dynamic user permission and access
					•	View Map and Data Layers based on Theme and Components
					•	Download Map image as png/jpeg format
					•	Upload Shapefile and Data Layer information
					•	Download shapefile based on selected layers
					•	Download Admin Boundary Information in a different format
					•	View Meta Data and Layer based information based on user access
					•	Administrative user Management control with grant and revoke user access privilege*@
				
			</div>
			<!--End Column Two-->
		</div>
		</div>
		
	</div>
</div>

