@{
	ViewData["Title"] = "Contact";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
	<style>
	.card-title,h6{
		font-family: 'Bodoni Moda', serif;
	}

	iframe{
		height:55vh;
	}

	.card-bg{
		background-color:#32947f;
	}
	</style>
}

<div class="page-content">
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-12 col-lg-8">
				<div class="card">
					<div class="row g-0 justify-content-center">
						<div class="col-12 col-xl-6">
							<iframe
                                class="w-100"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.0800451526084!2d90.3738161147847!3d23.780163784574743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c74ca1b4db15%3A0x6f9e2884a033e2ac!2sBangladesh%20Bureau%20of%20Statistics!5e0!3m2!1sen!2sbd!4v1647921988108!5m2!1sen!2sbd" 
                                width="600" 
                                height="450" 
                                style="border:0;" 
                                allowfullscreen="" 
                                loading="lazy">
                            </iframe>
						</div>
						<div class="col-12 col-xl-6 card-bg text-white d-flex justify-content-center align-items-center">
							<div class="mx-4 mt-3 mb-5">								
									<h2 class="text-center pb-2 card-title text-white fs-1 fw-bold mb-5 text-white">Contact Info</h2>
									<h6 class="text-white px-2 fs-4 my-4"><i class="bx bx-mail-send mb-10 text-white me-2 fs-4"></i>dg@bbs.gov.bd</h6>
									<h6 class="text-white px-2 fs-4 my-4"><i class="bx bx-phone-call mb-10 text-white me-2 fs-4"></i> +88-02-9112589</h6>
									<h6 class="text-white px-2 fs-4 my-4"><i class="bx bx-map mb-10 text-white me-2 fs-4"></i>Parishankhyan Bhaban, E-27/A, Agargaon. Sher-e-Bangla Nagar, Dhaka-1207, Bangladesh</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
