
@{
	ViewData["Title"] = "About Us";
}

@section Styles{

<style>


	
</style>
}

<div class="page-content my-5 bg-white">
	<div class="container-fluid min-vh-75">
		<div class="row">
			<iframe width="1257" height="707" src="http://main.ecdsbbs.com/" title="আওয়ামী ও ডামির নির্বাচন" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</div>
</div>
















