@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Styles{




    <link rel="stylesheet" href="https://sdg.gov.bd/public/css/style.min.css">
    <link rel="stylesheet" href="https://sdg.gov.bd/public/css/custom.style.min.css">

}




<div class="container">
    <div class="iom-sdg-container">
        <div class="sdg-wheel-wrap">
            <div id="sdgRing" class="c-ring">
                <div class="center-image" style="background-color: #F0F2F5;">
                </div>
            </div>
        </div>

        <!-- box-content -->
        <div class="dsp sdg-content-wrap sdg-1">

            <div class="row">
                <div class="col">
                    <div class="tagline-block">
                        HELPING GOVERNMENTS AND STAKEHOLDERS MAKE THE SDGS A REALITY
                    </div>
                    <div class="sdg-ring-content">
                        <div class="sdg-ring-content-title"></div>
                        <div class="sdg-ring-content-description"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




<div class="sdg-node sdg-1 sdg-node-hidden views-row">

    <div class="node node--type-goal node--view-mode-full ds-2col-stacked clearfix">

        <div class="group-left">
            <div class="group-left-wrapper">
                <div class="full-content image-sdg-image field__image">
                    <div class="layout layout--onecol">
                        <div class="layout__region layout__region--content">
                            <div class="media media-image-only image-image-only">
                                <div class="image-image-only field__image">

                                    <img src="https://sdg.gov.bd/public/img/upload/goal/svg/goal_1_en.svg" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="group__sdg-mobile-header">
            <div class="sdg-content-description">

                <div class="sdgbox" style="background:#db0429">
                    <div class="row">
                        <div class="col">
                            <h2>
                                SUSTAINABLE DEVELOPMENT Goal
                                1
                            </h2>

                            <h3>End poverty in all its forms everywhere</h3>
                            <a href="https://sdg.gov.bd/page/goalDescription/4#1"
                               class="read">More</a>
                        </div>
                    </div>
                    <div class="row numbers-line">
                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allgoals/4#1 ">

                                    <span class="our-number">


                                        7
                                        <br>
                                    </span>
                                    Targets

                                </a>
                            </p>
                        </div>

                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allgoals/4#1 ">
                                    <span class="our-number">

                                        13
                                        <br>
                                    </span>
                                    Indicators
                                    </a.'/'.$row['ordering']>
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allGoalsProviders/4#1 ">
                                    <span class="our-number">


                                        16
                                        <br>
                                    </span>
                                    providers
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="sdg-node sdg-2 sdg-node-hidden views-row">

    <div class="node node--type-goal node--view-mode-full ds-2col-stacked clearfix">

        <div class="group-left">
            <div class="group-left-wrapper">
                <div class="full-content image-sdg-image field__image">
                    <div class="layout layout--onecol">
                        <div class="layout__region layout__region--content">
                            <div class="media media-image-only image-image-only">
                                <div class="image-image-only field__image">

                                    <img src="https://sdg.gov.bd/public/img/upload/goal/svg/goal_2_en.svg" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="group__sdg-mobile-header">
            <div class="sdg-content-description">

                <div class="sdgbox" style="background:#d98d00">
                    <div class="row">
                        <div class="col">
                            <h2>
                                SUSTAINABLE DEVELOPMENT Goal
                                2
                            </h2>

                            <h3>End hunger, achieve food security and improved nutrition and promote sustainable agriculture</h3>
                            <a href="https://sdg.gov.bd/page/goalDescription/4#2"
                               class="read">More</a>
                        </div>
                    </div>
                    <div class="row numbers-line">
                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allgoals/4#2 ">

                                    <span class="our-number">










































































                                        8
                                        <br>
                                    </span>
                                    Targets

                                </a>
                            </p>
                        </div>

                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allgoals/4#2 ">
                                    <span class="our-number">

                                        14
                                        <br>
                                    </span>
                                    Indicators
                                    </a.'/'.$row['ordering']>
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allGoalsProviders/4#2 ">
                                    <span class="our-number">


                                        17
                                        <br>
                                    </span>
                                    providers
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="sdg-node sdg-3 sdg-node-hidden views-row">

    <div class="node node--type-goal node--view-mode-full ds-2col-stacked clearfix">

        <div class="group-left">
            <div class="group-left-wrapper">
                <div class="full-content image-sdg-image field__image">
                    <div class="layout layout--onecol">
                        <div class="layout__region layout__region--content">
                            <div class="media media-image-only image-image-only">
                                <div class="image-image-only field__image">

                                    <img src="https://sdg.gov.bd/public/img/upload/goal/svg/goal_3_en.svg" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="group__sdg-mobile-header">
            <div class="sdg-content-description">

                <div class="sdgbox" style="background:#008040">
                    <div class="row">
                        <div class="col">
                            <h2>
                                SUSTAINABLE DEVELOPMENT Goal
                                3
                            </h2>

                            <h3>Ensure healthy lives and promote well-being for all at all ages</h3>
                            <a href="https://sdg.gov.bd/page/goalDescription/4#3"
                               class="read">More</a>
                        </div>
                    </div>
                    <div class="row numbers-line">
                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allgoals/4#3 ">

                                    <span class="our-number">






















































































































































                                        13
                                        <br>
                                    </span>
                                    Targets

                                </a>
                            </p>
                        </div>

                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allgoals/4#3 ">
                                    <span class="our-number">

                                        28
                                        <br>
                                    </span>
                                    Indicators
                                    </a.'/'.$row['ordering']>
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allGoalsProviders/4#3 ">
                                    <span class="our-number">


                                        28
                                        <br>
                                    </span>
                                    providers
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sdg-node sdg-4 sdg-node-hidden views-row">

    <div class="node node--type-goal node--view-mode-full ds-2col-stacked clearfix">

        <div class="group-left">
            <div class="group-left-wrapper">
                <div class="full-content image-sdg-image field__image">
                    <div class="layout layout--onecol">
                        <div class="layout__region layout__region--content">
                            <div class="media media-image-only image-image-only">
                                <div class="image-image-only field__image">

                                    <img src="https://sdg.gov.bd/public/img/upload/goal/svg/goal_4_en.svg" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="group__sdg-mobile-header">
            <div class="sdg-content-description">

                <div class="sdgbox" style="background:#c10000">
                    <div class="row">
                        <div class="col">
                            <h2>
                                SUSTAINABLE DEVELOPMENT Goal
                                4
                            </h2>

                            <h3>Ensure inclusive and equitable quality education and promote lifelong learning opportunities for all</h3>
                            <a href="https://sdg.gov.bd/page/goalDescription/4#4"
                               class="read">More</a>
                        </div>
                    </div>
                    <div class="row numbers-line">
                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allgoals/4#4 ">

                                    <span class="our-number">




































































































































                                        10
                                        <br>
                                    </span>
                                    Targets

                                </a>
                            </p>
                        </div>

                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allgoals/4#4 ">
                                    <span class="our-number">

                                        12
                                        <br>
                                    </span>
                                    Indicators
                                    </a.'/'.$row['ordering']>
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allGoalsProviders/4#4 ">
                                    <span class="our-number">


                                        18
                                        <br>
                                    </span>
                                    providers
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sdg-node sdg-5 sdg-node-hidden views-row">

    <div class="node node--type-goal node--view-mode-full ds-2col-stacked clearfix">

        <div class="group-left">
            <div class="group-left-wrapper">
                <div class="full-content image-sdg-image field__image">
                    <div class="layout layout--onecol">
                        <div class="layout__region layout__region--content">
                            <div class="media media-image-only image-image-only">
                                <div class="image-image-only field__image">

                                    <img src="https://sdg.gov.bd/public/img/upload/goal/svg/goal_5_en.svg" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="group__sdg-mobile-header">
            <div class="sdg-content-description">

                <div class="sdgbox" style="background:#f95100">
                    <div class="row">
                        <div class="col">
                            <h2>
                                SUSTAINABLE DEVELOPMENT Goal
                                5
                            </h2>

                            <h3>Achieve gender equality and empower all women and girls</h3>
                            <a href="https://sdg.gov.bd/page/goalDescription/4#5"
                               class="read">More</a>
                        </div>
                    </div>
                    <div class="row numbers-line">
                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allgoals/4#5 ">

                                    <span class="our-number">



































































                                        9
                                        <br>
                                    </span>
                                    Targets

                                </a>
                            </p>
                        </div>

                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allgoals/4#5 ">
                                    <span class="our-number">

                                        14
                                        <br>
                                    </span>
                                    Indicators
                                    </a.'/'.$row['ordering']>
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allGoalsProviders/4#5 ">
                                    <span class="our-number">


                                        19
                                        <br>
                                    </span>
                                    providers
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sdg-node sdg-6 sdg-node-hidden views-row">

    <div class="node node--type-goal node--view-mode-full ds-2col-stacked clearfix">

        <div class="group-left">
            <div class="group-left-wrapper">
                <div class="full-content image-sdg-image field__image">
                    <div class="layout layout--onecol">
                        <div class="layout__region layout__region--content">
                            <div class="media media-image-only image-image-only">
                                <div class="image-image-only field__image">

                                    <img src="https://sdg.gov.bd/public/img/upload/goal/svg/goal_6_en.svg" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="group__sdg-mobile-header">
            <div class="sdg-content-description">

                <div class="sdgbox" style="background:#42b7dd">
                    <div class="row">
                        <div class="col">
                            <h2>
                                SUSTAINABLE DEVELOPMENT Goal
                                6
                            </h2>

                            <h3>Ensure availability and sustainable management of water and sanitation for all</h3>
                            <a href="https://sdg.gov.bd/page/goalDescription/4#6"
                               class="read">More</a>
                        </div>
                    </div>
                    <div class="row numbers-line">
                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allgoals/4#6 ">

                                    <span class="our-number">








































































                                        8
                                        <br>
                                    </span>
                                    Targets

                                </a>
                            </p>
                        </div>

                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allgoals/4#6 ">
                                    <span class="our-number">

                                        11
                                        <br>
                                    </span>
                                    Indicators
                                    </a.'/'.$row['ordering']>
                            </p>
                        </div>
                        <div class="col">
                            <p>
                                <a href="https://sdg.gov.bd/page/allGoalsProviders/4#6 ">
                                    <span class="our-number">


                                        17
                                        <br>
                                    </span>
                                    providers
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.js" integrity="sha256-trEbEQOrst1KvCE63coHz4jmv22at62gNbY/5W7pu08=" crossorigin="anonymous"></script>
    <script src="https://sdg.gov.bd/public/js/main.min.js"></script>

}