@{
	ViewData["Title"] = "AboutUs";
}

@section Styles{
<style>
	.bg-thm-grn {
		background: rgba(0, 107, 59, 0.8);
	}

	h3 {
		font-family: 'Source Sans Pro', sans-serif;
	}

	.form-cont {
		box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	}

	iframe {
		height: 55vh;
	}

	.card {
		font-family: 'Bodoni Moda', serif;
		background: rgba(0, 107, 59, 0.8);
	}
	.card h3,h4{
		color:#00a383;
	}
</style>
}

<div class="page-content my-5">
	<div class="container-fluid">
		<div class="row justify-content-center align-items-center">
			<div class="col-12 col-md-10 col-lg-6 d-flex flex-column justify-content-center align-items-center">
				<!--Address Container-->
				
				<div class="card border border-success rounded">
					<div class="card-header bg-transparent border-success">
						<h3 class="card-title fs-3 fw-bold py-2 text-white text-center"><i class="bx bxs-contact pe-2"></i>Contact Info</h3>
					</div><!-- end card-header -->
					<div class="px-2">
						
						<div class="row justify-content-between">
							<div class="col-12 col-md-5">
								<h4 class="px-2 fs-4 my-2 fw-bold text-white"><i class="bx bx-mail-send mb-10 me-2 fs-4"></i>dg@bbs.gov.bd</h4>
								
							</div>
							<div class="col-12 col-md-6">
								<h4 class="px-2 fs-4 my-2 fw-bold text-white"><i class="bx bx-phone-call mb-10 me-2 fs-4"></i> +88-02-9112589</h4>
							</div>
						</div>
						<h4 class="px-2 fs-4 fw-bold text-white"><i class="bx bx-map mb-10 me-2 fs-4"></i>Parishankhyan Bhaban, E-27/A, Agargaon. Sher-e-Bangla Nagar, Dhaka-1207, Bangladesh</h4>
					</div><!-- end card-body -->
				</div>
				<!--End Address Container-->
				<div class="col-12">
					<iframe class="w-100"
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.0800451526084!2d90.3738161147847!3d23.780163784574743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c74ca1b4db15%3A0x6f9e2884a033e2ac!2sBangladesh%20Bureau%20of%20Statistics!5e0!3m2!1sen!2sbd!4v1647921988108!5m2!1sen!2sbd"
							width="600"
							height="450"
							style="border:0;"
							allowfullscreen=""
							loading="lazy">
					</iframe>
				</div>
			</div>

			<div class="col-12 col-md-10 col-lg-6 row justify-content-center align-items-center">
				<div class="">
					<div class="col-12 pb-4">

						<div class="w-100 bg-thm-grn text-white rounded-top my-2"><h3 class="text-center fw-bold fs-3 text-white py-2">Message Us</h3></div>
						<!--form-->
						<form class="form-cont py-4 px-2 rounded-3 bg-white">
							<div class="row mb-4 mx-2">
								<label for="horizontal-Fullname-input" class="col-sm-3 col-form-label">Full Name</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="horizontal-Fullname-input" placeholder="Enter your full name">
								</div>
							</div>
							<div class="row mb-4 mx-2">
								<label for="horizontal-email-input" class="col-sm-3 col-form-label">Email</label>
								<div class="col-sm-9">
									<input type="email" class="form-control" id="horizontal-email-input" placeholder="Enter your email address">
								</div>
							</div>
							<div class="row mb-4 mx-2">
								<label for="horizontal-password-input" class="col-sm-3 col-form-label">Message</label>
								<div class="col-sm-9">
									<textarea class="form-control" rows="18" cols="50" placeholder="Enter the message"></textarea>
								</div>
							</div>

							<div class="row justify-content-end">
								<div class="col-sm-9">

									<div class="d-flex flex-wrap gap-3">
										<button type="submit" class="btn btn-success bg-thm-grn waves-effect waves-light w-md">Submit</button>
									</div>
								</div>
							</div>
						</form>
						<!--end form-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

