@{
	ViewData["Title"] = "UserFeedback";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
<style>
	.bg-thm-grn{
		background:rgba(0, 107, 59, 0.8);
	}
	.h-6vh{
		height:6vh;
	}
	h3{
		font-family: 'Bodoni Moda', serif;
	}
	.form-cont {
		box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	}
	
</style>
}


<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="row justify-content-center align-items-center">
				<div class="col-12 col-xl-6 py-4">
					
				</div>
			</div>

			<div class="row justify-content-center align-items-center">
				<div class="col-12 col-xl-6 py-4">
					<div class="w-100 h-6vh bg-thm-grn text-white rounded-top"><h3 class="text-center fw-bold fs-3 text-white py-2">Message Us</h3></div>
					<!--form-->
					<form class="form-cont py-4 px-2 rounded-3 bg-white">
						<div class="row mb-4 mx-2">
							<label for="horizontal-Fullname-input" class="col-sm-3 col-form-label">Full Name</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="horizontal-Fullname-input" placeholder="Enter your full name">
							</div>
						</div>
						<div class="row mb-4 mx-2">
							<label for="horizontal-email-input" class="col-sm-3 col-form-label">Email</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" id="horizontal-email-input" placeholder="Enter your email address">
							</div>
						</div>
						<div class="row mb-4 mx-2">
							<label for="horizontal-password-input" class="col-sm-3 col-form-label">Message</label>
							<div class="col-sm-9">
								<textarea class="form-control" rows="8" cols="50" placeholder="Enter the message"></textarea>
							</div>
						</div>

						<div class="row justify-content-end">
							<div class="col-sm-9">

								<div class="d-flex flex-wrap gap-3">
									<button type="submit" class="btn btn-success bg-thm-grn waves-effect waves-light w-md">Submit</button>
								</div>
							</div>
						</div>
					</form>
					<!--end form-->
				</div>
			</div>
		</div>
	</div>
</div>


