@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using EcdsApp.Models.ViewModels.Map
@using EcdsApp.Models.ThemeModels
<!-- Right Sidebar -->
<div class="right-bar">
    <div data-simplebar class="h-100">

        <div class="rightbar-title d-flex align-items-center px-3 py-4">
            <h5 class="m-0 me-2">Map Layer List</h5>

            <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                <i class="mdi mdi-close noti-icon"></i>
            </a>
        </div>
        <div class="map_title" style="text-align:center">
            <p style="text-align: center; font: bold 17px/1.5 Roboto, Helvetica, Arial, sans-serif;text-decoration:underline" id="map_title"></p>
        </div>
    </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->