@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";

}
<style>
.card {
		box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
</style>


<h4>@ViewData["Title"]</h4>

<div class="page-content bg-light">
	<div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                <h4 class="fs-light fw-light text-center my-4">Change Password</h4>
                <div class="card p-4">
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group my-2">
                        <label asp-for="Input.OldPassword"></label>
                        <input asp-for="Input.OldPassword" class="form-control" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group my-2">
                        <label asp-for="Input.NewPassword"></label>
                        <input asp-for="Input.NewPassword" class="form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group my-2">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-center align-items-center"><button type="submit" class="btn btn-dark my-4">Update password</button></div>
                    
                </form>
            </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        let message='@Model.Message'
        if(message.length>0 && message.includes("successfully.")){
            window.Swal.fire({
				icon: "success",
				title: "Password Changed",
				text:message                    
			})
        }
    </script>
}