@model EcdsApp.Models.ThemeModels.ThemeLayerDetail

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Add Theme Layer Details Information</h3>

                        <form asp-action="Create" class="mt-4 custom-validation" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label">Theme</label>
                                <div class="col-md-10">
                                    <select id="ddlTheme" class="form-select" asp-items="ViewBag.ThemeId" required="" data-parsley-required-message="You must select at least one option.">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label">Sub-Theme</label>
                                <div class="col-md-10">
                                    <select id="ddlSubTheme" class="form-select" asp-for="SubThemeId" required="" data-parsley-min="1" data-parsley-required-message="You must select at least one option.">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="LayerName"></label>
                                <div class="col-md-10">
                                    <input asp-for="LayerName" class="form-control" required="" />
                                    <span asp-validation-for="LayerName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="LayerPath"></label>
                                <div class="col-md-10">
                                    <input asp-for="LayerPath" class="form-control" required="" />
                                    <span asp-validation-for="LayerPath" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="LayerFileName"></label>
                                <div class="col-md-10">
                                    <input asp-for="LayerFileName" class="form-control" required="" />
                                    <span asp-validation-for="LayerFileName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label">Layer Type</label>
                                <div class="col-md-10">
                                    <select class="form-select" asp-items="ViewBag.LayerTypeId" asp-for="LayerTypeId" required="" data-parsley-required-message="You must select at least one option.">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="MainAttributeDisplayName"></label>
                                <div class="col-md-10">
                                    <input asp-for="MainAttributeDisplayName" class="form-control" />
                                    <span asp-validation-for="MainAttributeDisplayName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="MainAttributeName"></label>
                                <div class="col-md-10">
                                    <input asp-for="MainAttributeName" class="form-control" />
                                    <span asp-validation-for="MainAttributeName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="MainAttributeCode"></label>
                                <div class="col-md-10">
                                    <input asp-for="MainAttributeCode" class="form-control" />
                                    <span asp-validation-for="MainAttributeCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="FirstAttributeDisplayName"></label>
                                <div class="col-md-10">
                                    <input asp-for="FirstAttributeDisplayName" class="form-control" />
                                    <span asp-validation-for="FirstAttributeDisplayName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="FirstAttributeName"></label>
                                <div class="col-md-10">
                                    <input asp-for="FirstAttributeName" class="form-control" />
                                    <span asp-validation-for="FirstAttributeName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="FirstAttributeCode"></label>
                                <div class="col-md-10">
                                    <input asp-for="FirstAttributeCode" class="form-control" />
                                    <span asp-validation-for="FirstAttributeCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="SecondAttributeDisplayName"></label>
                                <div class="col-md-10">
                                    <input asp-for="SecondAttributeDisplayName" class="form-control" />
                                    <span asp-validation-for="SecondAttributeDisplayName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="SecondAttributeName"></label>
                                <div class="col-md-10">
                                    <input asp-for="SecondAttributeName" class="form-control" />
                                    <span asp-validation-for="SecondAttributeName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="SecondAttributeCode"></label>
                                <div class="col-md-10">
                                    <input asp-for="SecondAttributeCode" class="form-control" />
                                    <span asp-validation-for="SecondAttributeCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="ThirdAttributeDisplayName"></label>
                                <div class="col-md-10">
                                    <input asp-for="ThirdAttributeDisplayName" class="form-control" />
                                    <span asp-validation-for="ThirdAttributeDisplayName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="ThirdAttributeName"></label>
                                <div class="col-md-10">
                                    <input asp-for="ThirdAttributeName" class="form-control" />
                                    <span asp-validation-for="ThirdAttributeName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="ThirdAttributeCode"></label>
                                <div class="col-md-10">
                                    <input asp-for="ThirdAttributeCode" class="form-control" />
                                    <span asp-validation-for="ThirdAttributeCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="FileLatName"></label>
                                <div class="col-md-10">
                                    <input asp-for="FileLatName" class="form-control" />
                                    <span asp-validation-for="FileLatName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="FileLongName"></label>
                                <div class="col-md-10">
                                    <input asp-for="FileLongName" class="form-control" />
                                    <span asp-validation-for="FileLongName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="LegendColorFieldName"></label>
                                <div class="col-md-10">
                                    <input asp-for="LegendColorFieldName" class="form-control" />
                                    <span asp-validation-for="LegendColorFieldName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label" asp-for="IsLegendColor"></label>
                                <div class="col-md-10">
                                    <input class="form-check-input" asp-for="IsLegendColor" style="padding-top: 25px; padding-left: 25px">
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label">Upload Geo JSON File</label>
                                <div class="col-md-10">
                                    <input class="form-control mb-1" type="file" name="geoJsonFile" accept="application/JSON" required="" data-parsley-required-message="JSON file required" />
                                    <a href="https://mapshaper.org/" class="btn btn-danger btn-sm btn-rounded waves-effect waves-light" target="_blank">Convert your MAP</a>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label">Upload Shape File</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="file" name="shapeFile" accept=".dbf, .prj, .shp, .shx" required="" data-parsley-required-message="Shape Files required" multiple=""/>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                <a class="btn btn-info" asp-action="Index">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    
<script type="text/javascript">
        $(document).ready(function() {
            $('#ddlTheme').change(function () {
                var items = '';

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSubThemeData", "ThemeLayerDetails")',
                    dataType: "json",
                    data: { themeId: $('#ddlTheme').val() },
                    success: function (responseData) {
                        $('#ddlSubTheme').empty();
                        $.each(responseData,
                            function (i, subTheme) {
                                items += "<option value='" + subTheme.value + "'>" + subTheme.text + "</option>";
                            });
                        if (items !== "") {
                            $('#ddlSubTheme').html(items);
                        } else {
                            $('#ddlSubTheme').html("<option value=''>No Data Available Under the Selected Theme</option> ");
                        }
                    },
                    error: function (ex) {
                        window.Swal.fire({
                            //position: "top-end",
                            title: "Error",
                            text: "Failed to Load Sub-Theme Data!" + ex.responseText,
                            icon: "error",
                            showConfirmButton: false,
                            timer: 2000
                            //allowOutsideClick: false
                        });
                    }
                });
                return false;


            });
        });
</script>
}
