@using EcdsApp.Models.ViewModels
@model EcdsApp.Models.ThemeModels.ThemeLayerDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="display-6 mb-0">Edit Theme Layer Details Information</h1>
                        
                        <form asp-action="Edit" class="mt-4 custom-validation" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="LayerId" />

                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required">Theme</label>
                                <div class="col-md-10">
                                    <select id="ddlTheme" class="form-select" asp-items="ViewBag.ThemeId" required="" data-parsley-required-message="You must select at least one option."></select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required">Sub-Theme</label>
                                <div class="col-md-10">
                                    <select id="ddlSubTheme" class="form-select" asp-for="SubThemeId" asp-items="ViewBag.SubThemeId" required="" data-parsley-min="1" data-parsley-required-message="You must select at least one option."></select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="LayerName"></label>
                                <div class="col-md-10">
                                    <input asp-for="LayerName" class="form-control" required="" />
                                    <span asp-validation-for="LayerName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="LayerDisplayName"></label>
                                <div class="col-md-10">
                                    <input asp-for="LayerDisplayName" class="form-control" required="" />
                                    <span asp-validation-for="LayerDisplayName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required">Layer Type</label>
                                <div class="col-md-10">
                                    <select id="ddlLayerType" class="form-select" asp-items="ViewBag.LayerTypeId" asp-for="LayerTypeId" required="" data-parsley-required-message="You must select at least one option."></select>
                                </div>
                            </div>

                            @if (ViewBag.LayerType == AppStaticBase.LayerTypeTabular)
                            {
                                <div class="mb-3 row">
                                    <label id="ddlBoundaryLbl" class="col-md-2 col-form-label required">Region Category</label>
                                    <div class="col-md-10">
                                        <select id="ddlBoundary" class="form-select" asp-items="ViewBag.BoundaryList" asp-for="BoundaryInfoId"></select>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label id="ddlTableNamesLbl" class="col-md-2 col-form-label required">Table Name</label>
                                    <div class="col-md-10">
                                        <select id="ddlTableNames" class="form-select" asp-for="TableInfoId" asp-items="ViewBag.TableList" required="" data-parsley-min="1" data-parsley-required-message="You must select at least one option.">
                                            <option value="">Select</option>
                                        </select>
                                    </div>
                                </div>
                            }
                            else
                            {

                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label required" asp-for="LayerFileName"></label>
                                    <div class="col-md-10">
                                        <input asp-for="LayerFileName" class="form-control" required="" />
                                        <span asp-validation-for="LayerFileName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" asp-for="MainAttributeDisplayName"></label>
                                    <div class="col-md-10">
                                        <input asp-for="MainAttributeDisplayName" class="form-control" />
                                        <span asp-validation-for="MainAttributeDisplayName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" asp-for="MainAttributeName"></label>
                                    <div class="col-md-10">
                                        <input asp-for="MainAttributeName" class="form-control" />
                                        <span asp-validation-for="MainAttributeName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" asp-for="MainAttributeCode"></label>
                                    <div class="col-md-10">
                                        <input asp-for="MainAttributeCode" class="form-control" />
                                        <span asp-validation-for="MainAttributeCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" asp-for="FirstAttributeDisplayName"></label>
                                    <div class="col-md-10">
                                        <input asp-for="FirstAttributeDisplayName" class="form-control" />
                                        <span asp-validation-for="FirstAttributeDisplayName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" asp-for="FirstAttributeName"></label>
                                    <div class="col-md-10">
                                        <input asp-for="FirstAttributeName" class="form-control" />
                                        <span asp-validation-for="FirstAttributeName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" asp-for="FirstAttributeCode"></label>
                                    <div class="col-md-10">
                                        <input asp-for="FirstAttributeCode" class="form-control" />
                                        <span asp-validation-for="FirstAttributeCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" asp-for="SecondAttributeDisplayName"></label>
                                    <div class="col-md-10">
                                        <input asp-for="SecondAttributeDisplayName" class="form-control" />
                                        <span asp-validation-for="SecondAttributeDisplayName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" asp-for="SecondAttributeName"></label>
                                    <div class="col-md-10">
                                        <input asp-for="SecondAttributeName" class="form-control" />
                                        <span asp-validation-for="SecondAttributeName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" asp-for="SecondAttributeCode"></label>
                                    <div class="col-md-10">
                                        <input asp-for="SecondAttributeCode" class="form-control" />
                                        <span asp-validation-for="SecondAttributeCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" asp-for="ThirdAttributeDisplayName"></label>
                                    <div class="col-md-10">
                                        <input asp-for="ThirdAttributeDisplayName" class="form-control" />
                                        <span asp-validation-for="ThirdAttributeDisplayName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" asp-for="ThirdAttributeName"></label>
                                    <div class="col-md-10">
                                        <input asp-for="ThirdAttributeName" class="form-control" />
                                        <span asp-validation-for="ThirdAttributeName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" asp-for="ThirdAttributeCode"></label>
                                    <div class="col-md-10">
                                        <input asp-for="ThirdAttributeCode" class="form-control" />
                                        <span asp-validation-for="ThirdAttributeCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" asp-for="FileLatName"></label>
                                    <div class="col-md-10">
                                        <input asp-for="FileLatName" class="form-control" />
                                        <span asp-validation-for="FileLatName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label class="col-md-2 col-form-label" asp-for="FileLongName"></label>
                                    <div class="col-md-10">
                                        <input asp-for="FileLongName" class="form-control" />
                                        <span asp-validation-for="FileLongName" class="text-danger"></span>
                                    </div>
                                </div>
                            }

                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label">Legend Color</label>
                                <div class="col-md-10">
                                    <select id="ddlLegendColorOption" class="form-select" asp-for="LegendColorOptionId" asp-items="ViewBag.LegendColorOptionList">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label id="lblLegendColorFieldName" class="col-md-2 col-form-label" asp-for="LegendColorFieldName"></label>
                                <div class="col-md-10">
                                    <input id="txtLegendColorFieldName" asp-for="LegendColorFieldName" class="form-control" />
                                    <span asp-validation-for="LegendColorFieldName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="LineColorCode"></label>
                                <div class="col-md-10">
                                    <input asp-for="LineColorCode" class="form-control" required="" />
                                    <span asp-validation-for="LineColorCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="FillColorCode"></label>
                                <div class="col-md-10">
                                    <input asp-for="FillColorCode" class="form-control" required="" />
                                    <span asp-validation-for="FillColorCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="Opacity"></label>
                                <div class="col-md-10">
                                    <input asp-for="Opacity" class="form-control" required="" data-parsley-range="[0.0, 1.0]" />
                                    <span asp-validation-for="Opacity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="FillOpacity"></label>
                                <div class="col-md-10">
                                    <input asp-for="FillOpacity" class="form-control" required="" />
                                    <span asp-validation-for="FillOpacity" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="LineWeight"></label>
                                <div class="col-md-10">
                                    <input asp-for="LineWeight" class="form-control" required="" />
                                    <span asp-validation-for="LineWeight" class="text-danger"></span>
                                </div>
                            </div>
                            @if (ViewBag.LayerType != AppStaticBase.LayerTypeTabular)
                            {
                                <div id="fileUploadDiv">
                                    <div class="mb-3 row">
                                        <label id="jsonFileTypeLbl" class="col-md-2 col-form-label">Upload Geo JSON File</label>
                                        <div class="col-md-10">
                                            <input id="jsonFileTypeInput" class="form-control mb-2" type="file" name="geoJsonFile" accept="application/JSON" />
                                            <a class="btn btn-soft-purple btn-sm btn-rounded waves-effect waves-light">@ViewBag.JsonFileName</a>
                                            @*<a href="https://mapshaper.org/" class="btn btn-soft-purple btn-sm btn-rounded waves-effect waves-light" target="_blank">Convert your MAP</a>*@
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label id="shapeFileTypeLbl" class="col-md-2 col-form-label">Upload Shape File</label>
                                        <div class="col-md-10">
                                            <input id="shapeFileInput" class="form-control mb-2" type="file" name="shapeFile" accept=".dbf, .prj, .shp, .shx" multiple />
                                            @if (ViewBag.ShapeFileList != null)
                                            {
                                                @foreach (var item in (List<string>) ViewBag.ShapeFileList)
                                                {
                                                    <a class="btn btn-soft-purple btn-sm btn-rounded waves-effect waves-light">@item</a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="mt-4 text-right">
                                <input type="submit" value="Update" class="btn btn-rounded btn-success w-lg" />
                                <a class="btn btn-rounded btn-info w-lg" asp-action="Index">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

<script type="text/javascript">
        $(document).ready(function() {
            $('#ddlLayerType option:not(:selected)').attr('disabled', 'disabled');

            $('#ddlBoundary').change(function () {
                var subThemeId = $('#ddlSubTheme').val(),
                    boundaryId = $('#ddlBoundary').val();
                if (subThemeId === "" || boundaryId === "") {
                    window.Swal.fire({
                        title: "Error",
                        text: "Failed to Load 'Table Name' Options due to Invalid Selection!",
                        icon: "error",
                        showConfirmButton: false,
                        timer: 2000
                    });
                    return;
                }

                const url = '@Url.Action("GetTableInfoData", "ThemeLayerDetails")';
                $.ajax({
                    type: 'GET',
                    url: url,
                    dataType: "json",
                    data: {
                        subThemeId: subThemeId,
                        boundaryId: boundaryId
                    },
                    success: function (responseData) {
                        $('#ddlTableNames').empty();
                        var items = '';
                        $.each(responseData,
                            function (i, tblName) {
                                items += "<option value='" + tblName.value + "'>" + tblName.text + "</option>";
                            });
                        if (items !== "") {
                            $('#ddlTableNames').html(items);
                        } else {
                            window.Swal.fire({
                                title: "Error",
                                text: "No Data Available based on Selection!",
                                icon: "error",
                                showConfirmButton: false,
                                timer: 2000
                            });
                            $('#ddlTableNames').html('<option value="">Select</option>');
                        }
                    },
                    error: function (ex) {
                        window.Swal.fire({
                            title: "Error",
                            text: "Failed to Load Table Data!" + ex.responseText,
                            icon: "error",
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                });
                //return false;
            });

            if ($('#ddlLegendColorOption').val() === "0") {
                $("#txtLegendColorFieldName").prop("readonly", true);
            }

            $('#ddlLegendColorOption').change(function () {
                if ($('#ddlLegendColorOption').val() === "0") {
                    $("#txtLegendColorFieldName").prop("readonly", true);
                } else {
                    $("#txtLegendColorFieldName").prop("readonly", false);
                }
            });
        });
</script>
}
