@model EcdsApp.Models.ThemeModels.MetaDataDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="display-6 mb-0">Edit Metadata Information</h3>
                        <input type="hidden" asp-for="Id" />

                        <form asp-action="Edit" class="mt-4 custom-validation" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required">Theme</label>
                                <div class="col-md-10">
                                    <select id="ddlTheme" class="form-select" asp-items="ViewBag.ThemeId" required="" data-parsley-required-message="You must select at least one option."></select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required">Sub-Theme</label>
                                <div class="col-md-10">
                                    <select id="ddlSubTheme" class="form-select" asp-items="ViewBag.SubThemeId" data-parsley-min="1" required="" data-parsley-required-message="You must select at least one option."></select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required">Layer</label>
                                <div class="col-md-10">
                                    <select id="ddlLayer" class="form-select" asp-for="LayerId" asp-items="ViewBag.LayerId" data-parsley-min="1" required="" data-parsley-required-message="You must select at least one option."></select>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="Title"></label>
                                <div class="col-md-10">
                                    <input asp-for="Title" class="form-control" required="" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="Abstract"></label>
                                <div class="col-md-10">
                                    <input asp-for="Abstract" class="form-control" required="" />
                                    <span asp-validation-for="Abstract" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="General"></label>
                                <div class="col-md-10">
                                    <input asp-for="General" class="form-control" required="" />
                                    <span asp-validation-for="General" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="Quality"></label>
                                <div class="col-md-10">
                                    <input asp-for="Quality" class="form-control" required="" />
                                    <span asp-validation-for="Quality" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="Completeness"></label>
                                <div class="col-md-10">
                                    <input asp-for="Completeness" class="form-control" required="" />
                                    <span asp-validation-for="Completeness" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="HistoryOfTheDataSet"></label>
                                <div class="col-md-10">
                                    <input asp-for="HistoryOfTheDataSet" class="form-control" required="" />
                                    <span asp-validation-for="HistoryOfTheDataSet" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="PurposeOfProduction"></label>
                                <div class="col-md-10">
                                    <input asp-for="PurposeOfProduction" class="form-control" required="" />
                                    <span asp-validation-for="PurposeOfProduction" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="ProcessDescription"></label>
                                <div class="col-md-10">
                                    <input asp-for="ProcessDescription" class="form-control" required="" />
                                    <span asp-validation-for="ProcessDescription" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="TypeOfDataSet"></label>
                                <div class="col-md-10">
                                    <input asp-for="TypeOfDataSet" class="form-control" required="" />
                                    <span asp-validation-for="TypeOfDataSet" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="DataSetLanguage"></label>
                                <div class="col-md-10">
                                    <input asp-for="DataSetLanguage" class="form-control" required="" />
                                    <span asp-validation-for="DataSetLanguage" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-md-2 col-form-label required" asp-for="AdditionalInfoSourceForDataSet"></label>
                                <div class="col-md-10">
                                    <input asp-for="AdditionalInfoSourceForDataSet" class="form-control" required="" />
                                    <span asp-validation-for="AdditionalInfoSourceForDataSet" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mt-4 text-right">
                                <input type="submit" value="Update" class="btn btn-rounded btn-success w-lg" />
                                <a class="btn btn-rounded btn-info w-lg" asp-action="Index">Back to List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
<script type="text/javascript">
        $(document).ready(function() {

            $('#ddlTheme').change(function () {
                var items = '';
                $('#ddlLayer').empty();
                $('#ddlLayer').html("<option value=''>Select</option>");

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSubThemeData", "ThemeLayerDetails")',
                    dataType: "json",
                    data: { themeId: $('#ddlTheme').val() },
                    success: function (responseData) {
                        $('#ddlSubTheme').empty();
                        $.each(responseData,
                            function (i, subTheme) {
                                items += "<option value='" + subTheme.value + "'>" + subTheme.text + "</option>";
                            });
                        if (items !== "") {
                            $('#ddlSubTheme').html(items);
                        } else {
                            $('#ddlSubTheme').html("<option value=''>No Data Available Under the Selected Theme</option> ");
                        }
                    },
                    error: function (ex) {
                        window.Swal.fire({
                            title: "Error",
                            text: "Failed to Load Sub-Theme Data!" + ex.responseText,
                            icon: "error",
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                });
                return false;
            });

            $('#ddlSubTheme').change(function () {
                var items = '';

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetLayerData", "ThemeLayerDetails")',
                    dataType: "json",
                    data: { subThemeId: $('#ddlSubTheme').val() },
                    success: function (responseData) {
                        $('#ddlLayer').empty();
                        $.each(responseData,
                            function (i, themeLayer) {
                                items += "<option value='" + themeLayer.value + "'>" + themeLayer.text + "</option>";
                            });
                        if (items !== "") {
                            $('#ddlLayer').html(items);
                        } else {
                            $('#ddlLayer').html("<option value=''>No Data Available Under the Selected Sub-Theme</option> ");
                        }
                    },
                    error: function (ex) {
                        window.Swal.fire({
                            title: "Error",
                            text: "Failed to Load Sub-Theme Data!" + ex.responseText,
                            icon: "error",
                            showConfirmButton: false,
                            timer: 2000
                        });
                    }
                });
                return false;
            });
        });
</script>
}
